doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Моя страница
		link(rel="stylesheet" type='text/css' href="./static/css/main.css")
	body
		p Привет!
		p hello!
		.slider
			.slider-item
			.slider-item
			.slider-item
	
script(src="static/js/libs.min.js")
script(src="static/js/main.js")
